body {
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

#title1{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}


#title2{
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
}


#word-input{
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  font-family: "Rubik Mono One", monospace;
  border: 2px solid rgb(97, 97, 97);
}


#Score{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}

#random-word{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}